@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "О нас";
}

    <div id="about" class="story-box main-timeline-box">
        <div class="container">
            
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item"><a href="/Home/Index">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">О нас</li>
                    </ol>
                </nav>
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>О нас</h2>
                        <p>
                            BetterHelp - компания, занимающаяся сбором пожертвований. Мы предлагаем широкий спектр фондов,
                            охватывающие различные проблемы: природные катаклизмы, здоровье, голод, гуманитарная помощь
                            в горячие точки и прочее.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="title-box">
                    <h3>Главные моменты</h3>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            3.1.2018
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Основание компании</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Всё началось с трех друзей, которые хотели сделать мир чуточку лучше.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            4.12.2018
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Первый шаг</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Собрана 1000$ в помощь Детскому Дому №7 "Семь Я" г.Минска
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font">
                            8.4.2019
                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Спасательный круг природе</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            В рамках масштабного сбора собрано 50000$ в помощь противодействию сибирским пожарам.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row timeline-element reverse separline">
                <div class="timeline-date-panel col-xs-12 col-md-6  align-left">
                    <div class="time-line-date-content">
                        <p class="mbr-timeline-date mbr-fonts-style display-font" id="time">

                        </p>
                    </div>
                </div>
                <span class="iconBackground"></span>
                <div class="col-xs-12 col-md-6 align-right">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">Вперед и только вперед!</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            Мы постоянно расширяем границы наших возможностей, и стараемся помочь как можно большему
                            количеству людей.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>