@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="contact" class="contact-box">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a href="/Home/Index">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Фонды</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box">
                        <h2>Контакты</h2>
                        <p>
                            Если появились вопросы, или Вы желаете внести пожертвование другими материальными благами
                            (одежда и пр.) - свяжитесь с нами!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12">
                <div class="left-contact">
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <p>г.Минск, ул.Карла Маркса, д.36, офис 702 (вход с правой стороны здания)</p>
                            <div id="map"></div>
                        </div>
                    </div>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-envelope icon" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <a href="#">demoinfo@gmail.com</a>
                        </div>
                    </div>
                    <div class="media cont-line">
                        <div class="media-left icon-b">
                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        </div>
                        <div class="media-body dit-right">
                            <a href="#">12345 67890</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>